<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-item white-color">
          <a href="index.html" class="footer-logo"><%= image_tag("img/logo.png") %></a>
          <div class="simple-text">
            <p>198 West 21th Street, Suite 721, New York NY
              5109 Pacific Coast Highway, Los Angeles CA</p>
          </div>
          <div class="f-link"><b>Email: </b><a href="mailto:">support@doctorplab.com</a></div>
          <div class="f-link"><b>Phone: </b><a href="tel:">+88 (0) 101 0000 000</a></div>
          <div class="share">
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-pinterest"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item  white-color">
          <h4 class="h4 title">LATEST TWEETS</h4>
          <div class="twitter-item">
            <i class="icon-twitter"></i>
            <div class="text">
              <div class="time">3 min ago</div>
              <div class="simple-text">
                <p><a href="#">@oleska</a> Here may be <a href="#">#others</a> <a href="#">#champing</a> at the bit, but <a href="#">#Ralph</a> proves sapien</p>
              </div>
            </div>
          </div>
          <div class="twitter-item">
            <i class="icon-twitter"></i>
            <div class="text">
              <div class="time">12 min ago</div>
              <div class="simple-text">
                <p><a href="#">@oleska</a> Here may be <a href="#">#others</a> <a href="#">#champing</a> at the bit, but <a href="#">#Ralph</a> proves sapien</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item white-color">
          <h4 class="h4 title">instagram</h4>
          <div class="instagram-item">
            <a href="#"> <%= image_tag("img/inst_1.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_2.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_3.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_4.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_5.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_6.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_7.jpg") %></a>
            <a href="#"><%= image_tag("img/inst_8.jpg") %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <span><%= Time.now.strftime('%Y') %> All rights reserved. Developed by <a href="/">Young Brains Technologies</a></span>
    </div>
  </div>
</footer>