<section class="section-slider point-padd">
  <div class="container">
    <div class="section-caption">
      <h2 class="h2 caption-stye-1 type-2">OUR PARTNERS</h2>
      <div class="simple-text sm">
        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
      </div>
    </div>
    <div class="swiper-container swiper-swiper-unique-id-2 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="3" data-md-slides="5" data-lg-slides="5" data-add-slides="5" id="swiper-unique-id-2">
      <div class="swiper-wrapper" style="width: 1776px; height: 170px;">
        <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_1.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_2.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_3.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_4.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_5.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_1.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_2.png") %>
            </a>
          </div>
        </div>
        <div class="swiper-slide" style="width: 222px; height: 170px;">
          <div class="logo-item hover-circle">
            <a href="#" class="image circle-point lg">
              <%= image_tag("img/logo_3.png") %>
            </a>
          </div>
        </div>
      </div>
      <div class="pagination pagination-style-1 dark bottom-lg pagination-swiper-unique-id-2"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
    </div>
  </div>
</section>