<section class="section bg-grey">
  <div class="container-fluid">
    <div class="section-caption">
      <h2 class="h2 caption-stye-1 type-2">TESTIMONIANS</h2>
      <div class="simple-text sm">
        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
      </div>
    </div>
    <div class="swiper-container testi-slider slide-max-width click-point swiper-swiper-unique-id-3 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="1" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="3" id="swiper-unique-id-3">
      <div class="swiper-wrapper" style="width: 6595px; height: 270px;">
        <div class="swiper-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 1319px; height: 270px;">
          <div class="testi-block hover-circle">
            <div class="text">
              <div class="simple-text">
                <i>“</i>
                <p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
                <i>”</i>
              </div>
            </div>
            <div class="people vertical-align">
              <div class="image circle-point lg">
                <%= image_tag("img/people_1.png") %>
              </div>
              <h4 class="h4 title">Amit Pandey</h4>
              <div class="sub-title">Full Stack Developer</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="1" style="width: 1319px; height: 270px;">
          <div class="testi-block hover-circle">
            <div class="text">
              <div class="simple-text">
                <i>“</i>
                <p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
                <i>”</i>
              </div>
            </div>
            <div class="people vertical-align">
              <div class="image circle-point lg">
                <%= image_tag("img/people_2.png") %>
              </div>
              <h4 class="h4 title">Vineet Kumar</h4>
              <div class="sub-title">Full Stack Developer</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="2" style="width: 1319px; height: 270px;">
          <div class="testi-block hover-circle">
            <div class="text">
              <div class="simple-text">
                <i>“</i>
                <p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
                <i>”</i>
              </div>
            </div>
            <div class="people vertical-align">
              <div class="image circle-point lg">
                <%= image_tag("img/people_3.png") %>
              </div>
              <h4 class="h4 title">Sumit</h4>
              <div class="sub-title">Backend Developer</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="3" style="width: 1319px; height: 270px;">
          <div class="testi-block hover-circle">
            <div class="text">
              <div class="simple-text">
                <i>“</i>
                <p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
                <i>”</i>
              </div>
            </div>
            <div class="people vertical-align">
              <div class="image circle-point lg">
                <%= image_tag("img/people_1.png") %>
              </div>
              <h4 class="h4 title">alisia kister</h4>
              <div class="sub-title">web-designer</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-val="4" style="width: 1319px; height: 270px;">
          <div class="testi-block hover-circle">
            <div class="text">
              <div class="simple-text">
                <i>“</i>
                <p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
                <i>”</i>
              </div>
            </div>
            <div class="people vertical-align">
              <div class="image circle-point lg">
                <%= image_tag("img/people_2.png") %>
              </div>
              <h4 class="h4 title">eshton kirck</h4>
              <div class="sub-title">developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination pagination-style-1 hidden dark bottom-lg pagination-swiper-unique-id-3"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span></div>
    </div>
  </div>
</section>