<div class="footer-box2">
  <div class="copy">
    <strong>Copyright</strong> <%= Date.today.strftime('%Y') %> - <%= (Date.today + 1.year).strftime('%Y') %> <a href="<%= root_url %>"><%= APP_CONFIG[:product_name] %></a> &copy; All Rights Reserved.
    &nbsp;&nbsp;&nbsp;&nbsp;For Support Email to :
    <a href="mailto:#" target="_top"><%= APP_CONFIG[:contact_email] %></a>
  </div>

  <ul class="social">
    <li class="fb"><a href="https://www.facebook.com/doctorplab/" target="_blank"></a></li>
    <li class="ln"><a href="https://www.linkedin.com/in/doctorplab" target="_blank"></a></li>
    <li class="tr"><a href="https://twitter.com/DoctorPLab" target="_blank"></a></li>
    <li class="yt"><a href="https://www.youtube.com/channel/UC4qGxAmWIJpPUpbkdpBp2og" target="_blank"></a></li>
    <li class="andr"><a href="http://stackoverflow.com/users/5658358/doctorplab" target="_blank"></a></li>
    <!--
    <li class="andr"><a href="#"></a></li>
    <li class="gplus"><a href="#"></a></li>


    -->
  </ul>
  <div class="clr"></div>
</div>